/* Header */

@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

.titleBar {
    z-index: +1;
    box-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0,0,0,.25),
    3px 3px 3px rgba(0,0,0,.25);

}

.icon {
    width: 100px;
    height: auto;
}

.appTitle {
    color: black;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Syncopate';
    text-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0,0,0,.25),
    3px 3px 3px rgba(0,0,0,.25);
}

.navBrand {
    padding-left: 10px;
    margin-bottom: 2.5px;
}

.navigation {
    margin-top: 2px;
}

.navToggler {
    padding-right: 20px;
}

/* Home Page */

.banner-user{
    height: 400px;
  }
  .banner-user-elem{
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
  }
  .banner-user-elem .banner-user-title{
    font-size: 32px;
    top: 40%;
  }
  .banner-user-elem .banner-user-text{
    top: 40%;
  }
  .banner-anim-elem .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }



@media screen and (max-width: 551px) {
    .appTitle {
        color: black;
        font-weight: bolder;
        font-size: 22px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow:
        -1px -1px 0 rgba(255, 255, 255, 0),
        1px 1px 0 rgba(0,0,0,.25),
        3px 3px 3px rgba(0,0,0,.25);
    }
}